@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;  
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #00d2ff, #3a47d5 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0,0,0,0.25);
    color: lightgray;
}

.header {
    display: inline;
    margin: 10px 10px;
    font-size: 110px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: lightgray;
}
.number {
    display: inline-block;
    margin: 10px 10px;
    padding-top: 5px;
    width: 140px;
    height: 140px;
    font-size: 110px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: -1px 0px 15px rgba(37,27,27,0.25);
    border: 2px solid lightgray;
    border-radius: 15%;
    color: lightgray;
    background-color: transparent;
}

.buttons button {
    margin: 15px 7px;
    padding: 25px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

#play {
    background-image: url('../img/play_circle_FILL0_wght400_GRAD0_opsz48.png');
    background-position: center;
    background-position: no-repeat;
}
 
#stop {background-image: url('../img/stop_circle_FILL0_wght400_GRAD0_opsz48.png');
    background-position: center;
    background-position: no-repeat;
}

#play:active {
    background-color: lightgreen;
}

#stop:active {
    background-color: lightcoral ;
}
